#root {
  width: 100%;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.overflow-x-auto::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilos para scrollbar en el sidebar */
.sidebar-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scrollbar::-webkit-scrollbar-track {
  background: rgba(243, 241, 241, 0.05);
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(252, 248, 248, 0.2);
  border-radius: 10px;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Transiciones suaves */
* {
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* Mejorar el backdrop blur para Firefox */
@supports (-moz-appearance: none) {
  .backdrop-blur-sm {
    background-color: rgba(255, 255, 255, 0.95);
  }
}

.admin-page-fix {
  padding-top: 4rem;
  /* 64px para el navbar fijo */
  min-height: calc(100vh - 4rem);
}

.table-cell-align-fix td {
  vertical-align: top !important;
}

.table-cell-align-fix th {
  vertical-align: top !important;
}