
# Server
PORT=3000
NODE_ENV=development

# Database (Postgres)
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/posdb?schema=public

# JWT
JWT_SECRET=REPLACE_ME_WITH_A_LONG_RANDOM_STRING
JWT_EXPIRES_IN=8h
